$nav-link-color: #F8991D;
$nav-link-hover-color: #F8991D;
$nav-pills-link-active-bg: #F8991D;
$link-color: #FFFFFF;

$theme-colors: (
  "primary": #1A2238,
  "danger": #C04848,
  "info": #00ABE1,
  "secondary": #F8991D,
  "success": #198754
);